# Unity
[Ll]ibrary/


# VSCode y Rider
.vs/
.vscode/
.idea/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Archivos de Unity generados automáticamente
*.csproj
*.unityproj
*.sln
*.tmproj
*.log

# Otros archivos innecesarios
*.meta
*.DS_Store
