# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# VSCode y Rider
.vs/
.vscode/
.idea/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Archivos de Unity generados automáticamente
*.csproj
*.unityproj
*.sln
*.tmproj
*.log

# Otros archivos innecesarios
*.meta
*.DS_Store
